p{
    
    position: absolute;
    top:350;
    left:1060;
}
.box{
    display: inline-block;
    border:2px solid red;
    width: 150px;
    height:150px;
    margin:2px;
}
.blue{
    display: inline-block;
    position: relative;
    top:160px;
    left:105px;
    font-size:25px;
}

#creator{
    color: rgb(236, 144, 24);
    position: absolute;
    top:150px;
    left:950px;
}

#pp{
position:absolute;
top:1630px;
left:1350px;
}
#mpd{
    position:absolute;
    width:30%;
    top:1120px;
    left:560px;      
}
#yt{
    position:absolute;
    width:15%;
    top:980px;
    left:500px;   
}
#fb{
    position:absolute;
    width:8%;
    top:960px;
    left:750px;   
}
#regg{
    position:absolute;
    width:15%;
    top:850px;
    left:800px;   
}
#admopen{
    position:absolute;
    width:15%;
    top:910px;
    left:500px;   
}
#reg{
    position:absolute;
    width:13%;
    top:750px;
    left: 800px;
}
#admnopen{
    position:absolute;
    width:13%;
    top:750px;
    left:500px;

}
#end{
    position: absolute;
    
    top: 1580px;
    left:25%;
}
#snews{
    position: absolute;
    top:300px;
    left:90px;   
}
#help{
    position: absolute;
    top:850px;
    left:1250px; 
    width:10%;
    height:20%;
}
#help1{
    position: absolute;
    font-size:30px;
    top:1020px;
    left:1100px; 
    
}
#awards{
    position: absolute;
    top:700px;
    left:1120px;
   
}
#sportscorner{
    position: absolute;
    top:530px;
    left:1080px;
    width: 20%;
    height: 20%;
}
#lokmanilal{
    position: absolute;
    top:210px;
    left:1060px;
    width:370px;
    height:200px;
}
#heading{
    position: absolute;
    top:20px;
    left:150px;
    height:100px;
}
#logo{
    position: absolute;
    top:30px;
    left:40px;
}
#schoolcode{
    position: absolute;
    left:1200px;
    top: 15px;
}
#box1{
    position: absolute;
    left:25px;
    width:95%;
    height:1500px; 
}
#box2{
    position: absolute;
    border:3px solid red;
    width:68%;
    left:140px;
}
#box3{
    position: absolute;
    top:200px;
    left:50px;
    height:900px;
    width:400px;
}
#box4{
    position: absolute;
    top:200px;
    left:1040px;
    height:900px;
    width:400px;
}
#box5{
    position: absolute;
    border: 3px solid blue;
    width:85%;
    height:30px;
    top:165px;
    left:100px;
}
#box6{
    position: absolute;
    border: 3px solid gold;
    top:200px;
    left:1050px;
    height:300px;
    width:380px;
}
#box7{
    position: absolute;
    border: 3px solid rgb(22, 204, 119);
    top:510px;
    left:1050px;
    height:300px;
    width:380px;
}
#box8{
    position: absolute;
    border: 3px solid gold;
    top:280px;
    left:60px;
    height:300px;
    width:380px;
}
#box9{
    position: absolute;
    border: 3px solid rgb(22, 204, 119);
    top:590px;
    left:60px;
    height:300px;
    width:380px;
}
#box10{
    position: absolute;
    top:1150px;
    left:25px;
    width:95%;
    height:500px; 
}
#box11{
    position: absolute;
    border: 3px solid rgb(211, 10, 238);
    top:235px;
    left:465px;
    width:37%;
    height:500px; 
}